<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vcall.free.international.phone.wifi.calling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    <application
        android:name="vcall.free.international.phone.wifi.calling.lib.App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.SplashActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="vcall.free.international.phone.wifi.calling.MainActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.SettingActivity"
            android:configChanges="screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Setting" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.AboutActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.CountriesActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.CallRatesActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.CallDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.FeedbackActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.SetPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="vcall.free.international.phone.wifi.calling.ui.InviteFriendsActivity" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.CallActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.CallResultActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation" />
        <activity
            android:name="vcall.free.international.phone.wifi.calling.ui.AgreementActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation" />

        <service android:name="vcall.free.international.phone.wifi.calling.service.CallService" />
        <service android:name=".service.DaemonService" />

        <meta-data
            android:name="CHANNEL"
            android:value="google-play" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7362854813130172~8439045494" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>